#title {
    text-align: center;
    margin: 1em 0em;
    color: rgb(86, 22, 22);
}

#title:hover {
    color: #007bff;
}

form {
    /* border: 1px solid black; */
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form > input {
    height: 2em;
    padding: 0.5em;
}

form > button {
    padding: 0.6em 2em;
    font-size: large;
    font-weight: bolder;
    color: white;
    background-color: rgb(165, 42, 42);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}